{% extends 'base.html.twig' %}

{% block body %}
    <h1>Menucomposants list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Prix</th>
                <th>Vignette</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menuComposant in menuComposants %}
            <tr>
                <td><a href="{{ path('menucomposant_show', { 'id': menuComposant.id }) }}">{{ menuComposant.id }}</a></td>
                <td>{{ menuComposant.titre }}</td>
                <td>{{ menuComposant.prix }}</td>
                <td>{{ menuComposant.vignette }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('menucomposant_show', { 'id': menuComposant.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('menucomposant_edit', { 'id': menuComposant.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('menucomposant_new') }}">Create a new menuComposant</a>
        </li>
    </ul>
{% endblock %}
