{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eventphotos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Nom</th>
                <th>Date_creation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eventPhoto in eventPhotos %}
            <tr>
                <td><a href="{{ path('eventphoto_show', { 'id': eventPhoto.id }) }}">{{ eventPhoto.id }}</a></td>
                <td>{{ eventPhoto.url }}</td>
                <td>{{ eventPhoto.nom }}</td>
                <td>{% if eventPhoto.datecreation %}{{ eventPhoto.datecreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('eventphoto_show', { 'id': eventPhoto.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('eventphoto_edit', { 'id': eventPhoto.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('eventphoto_new') }}">Create a new eventPhoto</a>
        </li>
    </ul>
{% endblock %}
