{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('assets/vendor_components/select2/dist/css/select2.min.css') }}">
{% endblock %}

{% block body %}

    {% set current = 1 %}

    <!-- vertical wizard -->
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="card-title">Créer un nouvel établissement</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body wizard-content">

            {{ form_start(form) }}

            {{ form_errors(form) }}

            <section>
                    <div class="row">
                        {% if flow.getCurrentStepNumber() == 1 %}

                            {% set current = 1 %}


                            <div class="col-md-12">

                                <div class="form-group">
                                    <h3>
                                        1. Catégorie d'établissement
                                    </h3>
                                </div>

                                <div class="form-group">
                                    <label>{{ form_label(form.categorie, 'Choississez votre catégorie d\'établissement') }}</label>
                                    {{ form_widget(form.categorie, {'attr': {'class':'form-control' }}) }}
                                </div>

                                <div class="form-group">
                                    <label>{{ "Choisissez la sous catégorie concernée" }}</label>
                                    <select class="form-control" id="second-choice" name="sous_categorie">
                                        <option>Choisissez d'abord une catégorie</option>
                                    </select>
                                </div>
                            </div>
                        {% endif %}
                    </div>
            </section>

            {{ form_errors(form) }}

            <section>
                <div class="row">

                    {% if flow.getCurrentStepNumber() == 2 %}

                        <div>
                            <div class="row col-md-12">
                                <div class="col-md-12 form-group">
                                    <h3>
                                        2. Informations générales
                                    </h3>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ form_label(form.nom, 'Nom : ') }}</label>
                                        {{ form_widget(form.nom, {'attr': {'class':'form-control' }}) }}
                                    </div>
                                </div>
                                {% if form.vars.value.categorie.identifiant != "prestataires" %}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ form_label(form.description, 'Description : ') }}</label>
                                        {{ form_widget(form.description, {'attr': {'class':'form-control' }}) }}
                                    </div>
                                </div>
                                {% endif %}

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ form_label(form.adresse, 'Adresse : ') }}</label>
                                        {{ form_widget(form.adresse, {'attr': {'class':'form-control' }}) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ form_label(form.telephone, 'Téléphone') }}</label>
                                        {{ form_widget(form.telephone, {'attr': {'class':'form-control' }}) }}
                                    </div>
                                </div>

                                {% if form.vars.value.categorie.identifiant == "restaurants" %}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ form_label(form.promo) }}</label>
                                        {{ form_widget(form.promo, {'attr': {'class':'form-control' }}) }}
                                    </div>
                                </div>
                                {% endif %}

                                {% if form.vars.value.categorie.identifiant == "prestataires" %}
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ form_label(form.specialite) }}</label>
                                            {{ form_widget(form.specialite, {'attr': {'class':'form-control' }}) }}
                                        </div>
                                    </div>
                                {% endif %}

                                {% if form.vars.value.categorie.identifiant != "prestataires" %}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ form_label(form.price, 'Prix : ') }}</label>
                                        {{ form_widget(form.price, {'attr': {'class':'form-control' }}) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ form_label(form.latitude, 'Latitude : ') }}</label>
                                        {{ form_widget(form.latitude, {'attr': {'class':'form-control' }}) }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ form_label(form.longitude, 'longitude : ') }}</label>
                                        {{ form_widget(form.longitude, {'attr': {'class':'form-control' }}) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ form_label(form.facebook, 'Facebook : ') }}</label>
                                        {{ form_widget(form.facebook, {'attr': {'class':'form-control', 'placeholder':'http://facebook.com/livindkr' }}) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ form_label(form.twitter, 'Twitter : ') }}</label>
                                        {{ form_widget(form.twitter, {'attr': {'class':'form-control','placeholder':'http://twitter.com/livindkr' }}) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ form_label(form.instagram, 'Instagram : ') }}</label>
                                        {{ form_widget(form.instagram, {'attr': {'class':'form-control', 'placeholder':'http://instagram.com/livindkr' }}) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ form_label(form.photo, 'Photo de ocuverture (.jpeg, .jpg ou .png)') }}</label>
                                        {{ form_widget(form.photo, {'attr': {'class':'form-control' }}) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ form_label(form.etiquettes, 'Etiquettes : ') }}</label>
                                        {{ form_widget(form.etiquettes, {'attr': {'class':'form-control select2', 'multiple':'multiple' }}) }}
                                    </div>
                                </div>
                                {% endif %}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ form_label(form.offre, 'Offre : ') }}</label>
                                        {{ form_widget(form.offre, {'attr': {'class':'form-control' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </section>

            {{ form_errors(form) }}

            <section>

                <div class="row">
                    {% if flow.getCurrentStepNumber() > 2 %}
                        {% set current = 1 %}

                        <div class="row col-md-12">

                            <div class="col-md-6">

                                <div class="form-group">
                                    <h3>
                                        3. Confirmation
                                    </h3>
                                </div>

                                <div class="form-group">
                                    <label>Nom : </label> {{ form.vars.value.nom }}
                                </div>
                            </div>
                            {% if form.vars.value.categorie.nom != "prestataires" %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Description : </label>
                                    <p>
                                        {{ form.vars.value.description }}
                                    </p>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Adresse : </label> {{ form.vars.value.adresse }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Téléphone : </label> {{ form.vars.value.telephone }}
                                </div>
                            </div>

                            {% if form.vars.value.categorie.nom == "Restaurants" %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Promo : </label> {% if form.vars.value.promo == 1 %}Oui{% else %}Non{% endif %}
                                </div>
                            </div>
                            {% endif %}

                            {% if form.vars.value.categorie.identifiant != "prestataires" %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Prix : </label> {{ form.vars.value.price }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Latitude : </label> {{ form.vars.value.latitude }}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Longitude : </label> {{ form.vars.value.longitude }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Photo de ocuverture : </label> <br>
                                    <img src="{{ asset('images/' ~ form.vars.value.photo) }}" alt="" class="img-thumbnail img-sm">
                                </div>
                            </div>
                            {% endif %}

                            {% if form.vars.value.categorie.identifiant == "prestataires" %}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Spécialité : </label>
                                        <code >
                                            {{ form.vars.value.specialite }}
                                        </code>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Offre actuel : </label>
                                    <span class="label label-primary">
                                        {% if form.vars.value.offre.nom is defined %}
                                            {{ form.vars.value.offre.nom }}
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

            </section>

            {{ form_rest(form) }}

            <div class="pull-right">
                {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
                    craue_formflow_button_class_last: 'btn btn-primary',
                    craue_formflow_button_class_back: 'btn',
                    craue_formflow_button_class_reset: 'btn btn-warning',
                    craue_formflow_button_label_finish: 'Envoyer',
                    craue_formflow_button_label_reset: 'Annuler',
                } %}
            </div>

            {{ form_end(form) }}


            {% stylesheets '@CraueFormFlowBundle/Resources/assets/css/buttons.css' %}
                <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- Select2 -->
    <script src="{{ asset('assets/vendor_components/select2/dist/js/select2.full.js') }}"></script>
    <!-- bonitoadmin for advanced form element -->
    <script src="{{ asset('js/pages/advanced-form-element.js') }}"></script>

    <script>

        // This example displays an address form, using the autocomplete feature
        // of the Google Places API to help users fill in the information.

        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        var placeSearch, autocomplete;
        var componentForm = {
            street_number: 'short_name',
            route: 'long_name',
            locality: 'long_name',
            administrative_area_level_1: 'short_name',
            country: 'long_name',
            postal_code: 'short_name'
        };

        function initAutocomplete() {
            // Create the autocomplete object, restricting the search to geographical
            // location types.
            autocomplete = new google.maps.places.Autocomplete(
                /** @type {!HTMLInputElement} */(document.getElementById('createInstitutionStep2_adresse_old')),
                {types: ['geocode']});

            // When the user selects an address from the dropdown, populate the address
            // fields in the form.
            autocomplete.addListener('place_changed', fillInAddress);
        }

        function fillInAddress() {
            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();

            for (var component in componentForm) {
                document.getElementById(component).value = '';
                document.getElementById(component).disabled = false;
            }

            // Get each component of the address from the place details
            // and fill the corresponding field on the form.
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType]];
                    console.log(val) ;
                    document.getElementById(addressType).value = val;
                }
            }
        }

        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                });
            }
        }

        $('#CreateInstitutionStep1_categorie').on('change', function() {

            // /alert( this.value );

            $.ajax({
                url:'{{ (path('ajax_sub_categories')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "id": this.value
                },
                async: true,
                success: function (data)
                {
                    var $secondChoice = $("#second-choice");
                    $secondChoice.empty();
                    $.each(data, function(index, value) {
                        $secondChoice.append("<option value='"+value.id+"'>" + value.nom + "</option>");
                    });
                    console.log(data)
                    // $('div#ajax-results').html(data.output);
                }
            });
            return false;
        });
    </script>

    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuTnhP8Ks-wRXuetJm7i6VANGC5yCptX8&libraries=places&callback=initAutocomplete"
            async defer></script>

{% endblock %}