{% form_theme edit_form 'bootstrap_4_layout.html.twig' %}
     {{ form_start(edit_form) }}
     {{ form_widget(edit_form) }}
     <input type="submit" value="Modifier" class="btn btn-block btn-primary" />
     {{ form_end(edit_form) }}
