{# app/Resources/views/Emails/registration.html.twig #}
<h3></h3>

Salut {{ article.nomAuteur }}!

{# example, assuming you have a route named "login" #}
Votre article <b> {{ article.titre }}</b> n'a pas été approuvé.

Merci !

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo_transparent.png')) }}">