<footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
        <b style="color: red">Développé par <a style="color: red;" href="http://qualshore.com">QUALSHORE</a></b>
    </div>Copyright &copy; {{ "now"| date('Y') }} <a href="#">Liv'In DAKAR</a>. Tous les droits réservés.
</footer>