{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- bootstrap 4.0 -->
    <link rel="stylesheet" href="{{ asset('assets/vendor_components/bootstrap/dist/css/bootstrap.css') }}">

    <!-- Bootstrap 4.0-->
    <link rel="stylesheet" href="{{ asset('assets/vendor_components/bootstrap/dist/css/bootstrap-extend.css') }}">

    <!-- font awesome -->
    <link rel="stylesheet" href="{{ asset('assets/vendor_components/font-awesome/css/font-awesome.css') }}">

    <!-- ionicons -->
    <link rel="stylesheet" href="{{ asset('assets/vendor_components/Ionicons/css/ionicons.css') }}">

    <!-- theme style -->
    <link rel="stylesheet" href="{{ asset('css/master_style.css') }}">

    <!-- bonitoadmin Skins. Choose a skin from the css/skins
	folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ asset('css/skins/_all-skins.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
{% endblock %}

{% block title_page %} Etablissement {% endblock %}
{% block sub_title_page %} Gestion de la liste des établissements {% endblock %}

{% block body %}

    <div class="col-md-12 col-lg-12">
        <div class="box box-default">
            <!-- /.box-header -->
            <div class="box-body">
                <!-- Nav tabs -->
                <ul class="nav nav-pills justify-content-end margin-bottom margin-top-10">
                    <li class=" nav-item">
                        <a href="#toutes-les-institutions" class="nav-link active" data-toggle="tab" aria-expanded="false">
                            Tous les établissements
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="toutes-les-institutions" class="tab-pane active">
                        <div class="box">

                            <div class="box-header">
                                <h3 class="box-title">Liste de tous mes établissements</h3>
                                <h6 class="box-subtitle">Exporter les données en Copie, en CSV, en Excel, en PDF ou l'Imprimer</h6>
                                <div class="pull-right">
                                    <a class="btn btn-primary" href="{{ path('admin_institutions_nouvelle') }}">
                                        Ajouter une nouveau établissement
                                    </a>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">

                                {% for message in app.flashes('success') %}
                                    <div class="flash-notice alert alert-success">
                                        {{ message }}
                                    </div>
                                {% endfor %}

                                <table id="example" class="table table-bordered table-hover display nowrap margin-top-10 table-responsive">
                                    <thead>
                                    <tr>
                                        <th>Photo</th>
                                        <th>Nom</th>
                                        <th>Description</th>
                                        <th>Adresse</th>
                                        <th>Telephone</th>
                                        <th>Pack</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for institution in institutions %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('admin_institution_show', { 'id': institution.id }) }}">
                                                    {% if institution.photo is not null %}
                                                        <img class="img-thumbnail img-sm" src="{{ asset('images/institutions/'~ institution.photo) }}" alt="{{ institution.nom }}">
                                                    {% else %}
                                                        <img class="img-thumbnail img-sm" src="{{ asset('images/150x100.png') }}" alt="Image par défaut">
                                                    {%  endif %}
                                                </a>
                                            </td>
                                            <td>{{ institution.nom }}</td>
                                            <td>{{ institution.description }}</td>
                                            <td>{{ institution.adresse }}</td>
                                            <td>{{ institution.telephone }}</td>
                                            <td>
                                                {% if institution.offre is not null %}
                                                    {% if institution.offre.identifiant == 'basic' %}
                                                        <label class="label label-primary">Basic</label>
                                                    {% elseif institution.offre.identifiant == 'premium' %}
                                                        <label class="label label-default">Prémium</label>
                                                    {% elseif institution.offre.identifiant == 'gold' %}
                                                        <label class="label label-warning">Gold</label>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-success">
                                                        <a href="{{ path('admin_institution_show', { 'id': institution.id }) }}">
                                                            <i class="fa fa-eye-slash"></i>
                                                        </a>
                                                    </button>
                                                    <button type="button" class="btn btn-warning">
                                                        <a href="{{ path('admin_institution_edit', { 'id': institution.id }) }}">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    </button>
                                                    <button type="button" class="btn btn-danger">
                                                        <a href="#">
                                                            <i class="fa fa-trash-o"></i>
                                                        </a>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
{% endblock %}


{% block javascripts %}
    <!-- jQuery 3 -->
    <script src="{{ asset('assets/vendor_components/jquery/dist/jquery.js') }}"></script>

    <!-- popper -->
    <script src="{{ asset('assets/vendor_components/popper/dist/popper.min.js') }}"></script>

    <!-- Bootstrap 4.0 -->
    <script src="{{ asset('assets/vendor_components/bootstrap/dist/js/bootstrap.js') }}"></script>

    <!-- SlimScroll -->
    <script src="{{ asset('assets/vendor_components/jquery-slimscroll/jquery.slimscroll.js') }}"></script>

    <!-- ChartJS -->
    <script src="{{ asset('assets/vendor_components/chart-js/chart.js') }}"></script>

    <!-- FastClick -->
    <script src="{{ asset('assets/vendor_components/fastclick/lib/fastclick.js') }}"></script>

    <!-- bonitoadmin App -->
    <script src="{{ asset('js/template.js') }}"></script>

    <!-- bonitoadmin for demo purposes -->
    <script src=""></script>

    <!-- bonitoadmin for Chart purposes -->
    <script src="{{ asset('js/pages/widget-charts.js') }}"></script>
{% endblock %}