{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-element'}}) }}

    <div class="form-group has-feedback">
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr':{'class':'form-control','placeholder':'Adresse E-mail'}}) }}
        <span class="ion ion-email form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        {{ form_widget(form.username, {'attr':{'class':'form-control','placeholder':'Nom d\'utilisateur'}}) }}
        <span class="fa fa-user form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        {{ form_widget(form.plainPassword.first, {'attr':{'class':'form-control','placeholder':'Mot de passe'}}) }}
        <span class="ion ion-key form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        {{ form_widget(form.plainPassword.second, {'attr':{'class':'form-control','placeholder':'Répéter le mot de passe'}}) }}
        <span class="ion ion-key form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        <input class="btn btn-block btn-success" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}