{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tagdecouverte</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tagDecouverte.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ tagDecouverte.nom }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ tagDecouverte.photo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_tags_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_tags_edit', { 'id': tagDecouverte.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
