{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form action="{{ path("fos_user_security_check") }}" method="post" class="form-element">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="{{ 'security.login.username'|trans }} ou Adresse e-mail"
               id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username">
        <span class="ion ion-email form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" id="password" name="_password" required="required" autocomplete="current-password">
        <span class="ion ion-locked form-control-feedback"></span>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="checkbox">
                <input type="checkbox" id="basic_checkbox_1" name="_remember_me" value="on" >
                <label for="basic_checkbox_1">{{ 'security.login.remember_me'|trans }}</label>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-6">
            <div class="fog-pwd">
                <a href="javascript:void(0)"><i class="ion ion-locked"></i> Mot de passe oublié?</a><br>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-12 text-center">
            <input class="btn btn-block btn-info btn-lg margin-top-10" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </div>
        <!-- /.col -->
    </div>
</form>
