{% extends 'base.html.twig' %}

{% block title_page %} Gestion des événements {% endblock %}
{% block sub_title_page %}  {% endblock %}

{% block stylesheets %}

    <!-- Bootstrap 4.0-->
    <link rel="stylesheet" href="{{ asset('assets/vendor_components/bootstrap/dist/css/bootstrap.min.css') }}">

    <!-- Bootstrap 4.0-->
    <link rel="stylesheet" href="{{ asset('assets/vendor_components/bootstrap/dist/css/bootstrap-extend.css') }}">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('assets/vendor_components/font-awesome/css/font-awesome.min.css') }}">

    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset('assets/vendor_components/Ionicons/css/ionicons.min.css') }}">

    <!-- Glyphicons -->
    <link rel="stylesheet" href="{{ asset('assets/vendor_components/glyphicons/glyphicon.css') }}">

    <!-- daterange picker -->

    <link rel="stylesheet" href="{{ asset('assets/vendor_components/bootstrap-daterangepicker/daterangepicker.css') }}">

    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="{{ asset('assets/vendor_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}">

    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="{{ asset('assets/vendor_plugins/iCheck/all.css') }}">

    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="{{ asset('assets/vendor_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css') }}">

    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="{{ asset('assets/vendor_plugins/timepicker/bootstrap-timepicker.min.css') }}">

    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('assets/vendor_components/select2/dist/css/select2.min.css') }}">

    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('css/master_style.css') }}">

    <!-- bonitoadmin Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ asset('css/skins/_all-skins.css') }}">

    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="{{ asset('assets/vendor_plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.css') }}">

    <link href="{{ asset('bundles/jbfileuploader/lib/jquery-file-upload/css/jquery.fileupload.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/jbfileuploader/css/jbfileupload.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/jbfileuploader/lib/jcrop/css/jquery.Jcrop.min.css') }}" type="text/css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-12">

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Ajouter un nouvel événement</h3>
                <a href="{{ path('event_index') }}">Listes des évenements</a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {{ form_start(form) }}
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">Titre de l'événement</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.nom, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.description, {'attr':{'class':'form-control textarea', 'style': 'width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">Photo</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.photo, {'attr':{'class':'form-control' }}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">Date de l'événement</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.dateEvent, {'attr':{'class':'form-control' }}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">Lieu</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.lieu, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">Adresse email</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">Téléphone</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.telephone, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">Site web</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.siteweb, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">Facebook</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.facebook, {'attr':{'class':'form-control', 'placeholder':'http://facebook.com/livindkr'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">Twitter</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.twitter, {'attr':{'class':'form-control', 'placeholder':'http://twitter.com/livindkr'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">Instagram</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.instagram, {'attr':{'class':'form-control', 'placeholder':'http://instagram.com/livindkr'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">Institution concernée</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.institution, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">Catégorie</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.categorie, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">Etiquettes</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.tags, {'attr':{'class':'form-control select2'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input type="submit" value="Créer l'évenement" class="btn btn-success btn-block" />
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

    <!-- jQuery 3 -->
    <script src="{{ asset('assets/vendor_components/jquery/dist/jquery.min.js') }}"></script>

    <!-- popper -->
    <script src="{{ asset('assets/vendor_components/popper/dist/popper.min.js') }}"></script>

    <!-- Bootstrap 4.0-->
    <script src="{{ asset('assets/vendor_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <!-- Select2 -->
    <script src="{{ asset('assets/vendor_components/select2/dist/js/select2.full.js') }}"></script>

    <!-- InputMask -->
    <script src="{{ asset('assets/vendor_plugins/input-mask/jquery.inputmask.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/input-mask/jquery.inputmask.date.extensions.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/input-mask/jquery.inputmask.extensions.js') }}"></script>

    <!-- date-range-picker -->
    <script src="{{ asset('assets/vendor_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js') }}"></script>

    <!-- bootstrap datepicker -->
    <script src="{{ asset('assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>

    <!-- bootstrap color picker -->
    <script src="{{ asset('assets/vendor_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js') }}"></script>

    <!-- bootstrap time picker -->
    <script src="{{ asset('assets/vendor_plugins/timepicker/bootstrap-timepicker.min.js') }}"></script>

    <!-- SlimScroll -->
    <script src="{{ asset('assets/vendor_components/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>

    <!-- iCheck 1.0.1 -->
    <script src="{{ asset('assets/vendor_plugins/iCheck/icheck.min.js') }}"></script>

    <!-- FastClick -->
    <script src="{{ asset('assets/vendor_components/fastclick/lib/fastclick.js') }}"></script>

    <!-- bonitoadmin App -->
    <script src="{{ asset('js/template.js') }}"></script>

    <!-- bonitoadmin for demo purposes -->
    <script src="{{ asset('js/demo.js') }}"></script>

    <!-- CK Editor -->
    <script src="{{ asset('assets/vendor_components/ckeditor/ckeditor.js') }}"></script>

    <!-- Bootstrap WYSIHTML5 -->
    <script src="{{ asset('assets/vendor_plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js') }}"></script>

    <!-- bonitoadmin for editor -->
    <script src="{{ asset('js/pages/editor.js') }}"></script>

    <!-- bonitoadmin for advanced form element -->
    <script src="{{ asset('js/pages/advanced-form-element.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/jbfileuploader/lib/jquery-file-upload/js/vendor/jquery.ui.widget.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jbfileuploader/lib/jquery-file-upload/js/jquery.iframe-transport.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jbfileuploader/lib/jquery-file-upload/js/jquery.fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jbfileuploader/js/jbfileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jbfileuploader/lib/jcrop/js/jquery.Jcrop.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            $('.jb_fileupload').jbFileUpload();
        });

        document.addEventListener('jb.FileUpload.success',  function(){
            console.log('cool !')
        })
    </script>

{% endblock %}