{% extends 'base.html.twig' %}

{% block title_page %} Gestion des articles {% endblock %}
{% block sub_title_page %}  {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">

             <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Liste des articles</h3>
                    <a class="btn btn-info pull-right" href="{{ path('article_new') }}">
                        Une nouvel article
                    </a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    {% for message in app.flashes('success_approve') %}
                        <div class="flash-notice alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% for message in app.flashes('failed_approve') %}
                        <div class="flash-notice alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}

                    <table id="example" class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>Statut</th>
                                <th>Image</th>
                                <th>Titre</th>
                                <th>Date de l'article</th>
                                <th>Nombre de lectures</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for article in articles %}
                            <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                    {% if article.status == 1 %}
                                        <i style="color: darkgreen" class="fa fa-check-square"></i>
                                    {% elseif article.status == 0 %}
                                        <i style="color: red" class="fa fa-circle"></i>
                                    {% else %}
                                        <i style="color: gold" class="fa fa-minus-square"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('article_show', { 'id': article.id }) }}">
                                        {% if article.image is not null %}
                                            <img class="img-responsive img-md img-thumbnail" src="{{ asset('images/' ~ article.image) }}" alt="{{ article.titre }}">
                                            {% else %}
                                                <img src="{{ asset('images/150x150.png') }}" alt="{{ article.titre }}">
                                        {% endif %}
                                    </a>
                                </td>
                                <td style="text-align: center; vertical-align: middle;">{{ article.titre }}</td>
                                <td style="text-align: center; vertical-align: middle;">{% if article.dateArticle %}{{ article.dateArticle|date('d m Y H:i:s') }}{% endif %}</td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <label class="label label-primary">
                                        {{ article.nbLecteur }}
                                    </label>
                                </td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success">
                                            <a href="{{ path('article_show', { 'id': article.id }) }}">
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                        </button>
                                        <button type="button" class="btn btn-warning">
                                            <a href="{{ path('article_edit', { 'id': article.id }) }}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </button>
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="{{ path('article_approve',{'id': article.id, 'status': 1}) }}">Approuvé</a>
                                                    <a class="dropdown-item" href="{{ path('article_approve',{'id': article.id, 'status': 0}) }}">Rejeté</a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
         </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- This is data table -->
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js') }}"></script>

    <!-- start - This is for export functionality only -->
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/vfs_fonts.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.print.min.js') }}"></script>
    <!-- end - This is for export functionality only -->

    <!-- bonitoadmin for Data Table -->
    <script src="{{ asset('js/pages/data-table.js') }}"></script>
{% endblock %}