{{ form_start(form, {'action': path('menu_new', {'restaurant_id': restaurant_id }), 'method': 'POST'}) }}
    <div class="form-group">
        {{ form_widget(form.nom, {'attr': {'class':'form-control', 'placeholder': 'Titre du nouveau menu : ' }}) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.description, {'attr': {'class':'form-control', 'placeholder':'Description du nouveau menu : ' }}) }}
    </div>

    <input type="hidden" name="restaurant_id" value="{{ restaurant_id }}">

    <input type="submit" value="Ajouter" class="btn btn-primary btn-block" />
{{ form_end(form) }}